@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.container {
  background-color: #ffffff;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  position: relative;
  margin-top: -11px;
  top: 6px;
  left: 10px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  border: 0;
  list-style-type: none;
  align-items: center;
  cursor: pointer;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url("../images/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-header {
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
  max-width: 300px;
  margin-right: auto;

}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.welcome-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/Vector.svg), url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom, center;
  width: 1200px;
  height: 485px;
}

.advantages {
  margin-top: 69px;
}

.advantages-list {
  margin-top: 69px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.advantages-item-1 {
  display: flex;
  width: 1200px;
  min-height: 384x;
}

.advantages-item-text {
  padding: 102px 85px;
}

.advantages-item-2 {
  width: 400px;
  min-height: 385px;
}

.advantages-item-3 {
  width: 400px;
  min-height: 385px;
}

.advantages-item-4 {
  width: 400px;
  min-height: 385px;
}

.advantages-item-5 {
  display: flex;
  width: 1200px;
  min-height: 385px;
}

.second-heading {
  margin-top: 0;
  margin-bottom: 20;
  padding-top: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.second-heading-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-bottom: 64px;
}

.advantages-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  text-transform: uppercase;
}

.advantages-title::before {
  position: absolute;
  bottom: -18px;
  left: 85px;
  width: 60px;
  height: 2px;
  background-color: #0000004D;
  content: "";
}

.blue-background {
  background-color: #82B3D3;
}

.lightblue-background {
  background-color: #83B3D31F;
}

.extralightblue-background {
  background-color: #83B3D333;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.white-text {
  color: #ffffff;
}

.services-list {
  display: flex;
  text-align: center;
  list-style-type: none;
  padding-inline-start: 0;
}

.services-item {
  width: 400px;
  min-height: 385px;
  margin: 0;
}

.services-box {
  padding: 80px 85px;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.feedback {
  padding-top: 96px;
  padding-bottom: 96px;
}

.third-heading {
  margin-top: 0;
  margin-bottom: 20;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.mail-box {
  text-align: center;

}

.button-header {
  box-sizing: border-box;
  display: block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  min-width: 160px;
  min-height: 36px;
  text-align: center;
  padding: 8px 50px;
}

.button-searching {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  min-width: 376px;
  min-height: 52px;
  text-align: center;
  padding: 8px 50px;
}

.feedback {
  text-align: center;
}

.mail-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  background-image: url(../images/subscription.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  width: 1200px;
  height: 415px;
}

.newsletter-form {
  display: flex;
  margin: 0 auto;
  max-width: 687px;
  padding: 0;
  min-height: 52px;
}

.field {
  flex-grow: 1;
  margin: 0;
  border: 0;
  width: 452px;
  background-color: #F2F2F2;
  min-height: 52px;
  padding: 0;
}

.input-price {
  display: flex;
  width: 143px;
}

.input-price-1 {
  margin-left: 2px;
}

.button-email {
  bottom: 1px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  min-width: 232px;
  min-height: 52px;
  border-radius: 0 4px 4px 0;
  border: 0;
  padding: 8px 50px;
  margin: 0;
}

.page-footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 1200px;
  min-height: 120px;
  flex-grow: 1;
  /* padding-left: 40px; */
  padding-right: 40px;

}

.footer-social {
  width: 142px;
  min-height: 40px;
}

.footer-social-list {
  list-style: none;
  display: flex;
  min-width: 142px;
  min-height: 40px;
  justify-content: space-around;
  align-items: center;
  padding-inline-start: 0;
}

.footer-phone {
  min-width: 350px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

.button-social {
  min-width: 115px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Модальное окно */

.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2CC;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}

.searching-hotel {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  grid-row: 1/5;
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-field {
  position: absolute;
}

/* Каталог */

.catalog-hotels {
  color: #ffffff;
}

.form-container {
  background-color: #000000;
  background-image: url(../images/catalog_images/photo-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: cover;
  color: #ffffff;
  padding: 35px 70px 70px 70px;
}

.catalog-hotels {
  display: flex;
  width: 1060px;
  min-height: 160px;
}

.breadcrumbs {
  padding: 0;
  margin-top: 8px;
  width: 114px;
  min-height: 21px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  padding: 0;
  text-align: left;
  min-width: 200px;
  min-height: 48px;
  border: 0;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.inner-header{
  margin: ;
}

.inner-header-title {
  margin-top: 35px;
  margin-bottom: 270px;
  text-align: left;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}

.catalog-filter-title {
  display: inline;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  }

  .catalog-filter-item {
  padding: 0;
  margin: 0;
 }

.buttons {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.hotels {
  padding-left: 70px;
  padding-right: 70px;
}

.hotels-button {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  min-width: 191px;
  height: 36px;
  text-align: center;
  padding: 8px 0;

}

.hotels-button-blur {
  background-color: rgba(28, 28, 28, 0);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  min-width: 191px;
  height: 36px;
  text-align: center;
  padding: 8px 0;
}

.hotels-list-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-container {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 50px;
}

.button-view {
  min-width: 160px;
  min-height: 48px;
}

.icon-view {
  display: flex;
  list-style: none;
}

.button-view-all {
  background-image: url("../images/catalog_images/icon-view-all.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  display: block;
  border-radius: 4px;
}

.button-view-big {
  background-image: url("../images/catalog_images/icon-view-big.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  display: block;
  border-radius: 4px;
  margin-left: 8px;
}

.button-view-note {
  background-image: url("../images/catalog_images/icon-view-note.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  display: block;
  border-radius: 4px;
  margin-left: 8px;
}

.select-control {
  min-width: 292px;
  height: 49px;
  border-radius: 4px;
  align-self: center;
}

.hotels-cards {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.hotel-card {
  margin: 20px;
  min-width: 300px;
  min-height: 438px;
}

.hotels-prices {
  display: flex;
  justify-content: space-between;
}

.buttons-hotels {
  display: flex;
  justify-content: space-between;
}

.stars {
  padding-top: 5px;
}

.rate {
  display: flex;
  justify-content: space-between;
}

.hotels-list-title {
  font-size: 24px;
  font-weight: 28px;
}


.hotels-list-title-discription .hotels-list-price {
  font-size: 18px;
  font-weight: 21px;
  color: #333333;
}

.hotels-list-link {
  text-decoration: none;
  color: #000000;
}

.button-hotels-info {
  box-sizing: border-box;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  min-width: 140px;
  min-height: 36px;
  background-color: #756157;
  text-align: center;
  padding: 8px 0;
}

.button-hotels-chose {
  box-sizing: border-box;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 0;
  background-color: #82B3D3;
  text-align: center;
  min-width: 140px;
  min-height: 36px;
}

.button-hotels-chosen {
  box-sizing: border-box;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 0;
  background-color: #7DB54F;
  text-align: center;
  min-width: 140px;
  min-height: 36px;
}

.hotel-rate {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 0;
  background-color: #F2F2F2;
  min-width: 140px;
  min-height: 36px;
  text-align: center;
}

.pagination-container {
  display: flex;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.amara-resort {
  max-width: 340px;
  flex-basis: 340px;
}

.dots {
  display: block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  height: 60px;
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  border-radius: 4px;
  padding-top: 12px;
  text-align: center;
  min-width: 60px;
  height: 60px;
  margin-right: 8px;
  color: #ffffff;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.mail-box-catalog {
  background-position: center;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.mailing-list {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.mailing-list-description {
  font-size: 22px;
  line-height: 26px;
}

.gray-text {
  color: #333333;
}
