@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  margin-left: 40px;
  margin-right: 40px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.main-index {
  background-color: #ffffff;
  margin-left: 40px;
  margin-right: 40px;
}

.advantages-list {
  text-align: center;
}

.second-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.second-heading-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  text-transform: uppercase;

}

.blue-background {
  background-color: #82B3D3;
}

.lightblue-background {
  background-color: #83B3D31F;
}

.extralightblue-background {
  background-color: #83B3D333;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.white-text {
  color: #ffffff;
}

.services-list {
  text-align: center;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.page-footer {
background-color: #ffffff;
margin-left: 40px;
margin-right: 40px;
}

.button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 50px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

li {
  display: block;
}

/* Каталог */

.inner-header-title {
  color:#ffffff;
  font-size: 60px;
  line-height: 78px;
}

.breadcrums-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
